<div class="product-list-wrapper">

  <div class="page-header">
    <h2>Products</h2>
    <div class="header-actions">
      <button class="filter-toggle" (click)="showFilters = !showFilters">
        <i class="pi pi-filter"></i> Filters
      </button>
      <a routerLink="/products/add" class="add-product">
        <i class="pi pi-plus"></i> Product
      </a>
      <!-- <button class="filter-toggle" (click)="updateProductKeywords()">
        <i class="pi pi-filter"></i> ProductKeywords
      </button> -->
    </div>
  </div>

  <div class="filters-wrapper" [class.show]="showFilters">

    <!-- <div></div> -->
    <!-- <div></div> -->
    <!-- <div></div> -->
    <!-- <div></div> -->
    <!-- <div></div> -->
    <!-- <div></div> -->
    <!-- <div></div> -->
    <!-- 🔥 Updated with debounce -->
    <input
      type="text"
      placeholder="Search by name..."
      [ngModel]="filterName"
      (input)="onNameInput($event)"
      class="filter-input" />


    <select [(ngModel)]="filterCategoryId"
            (change)="onCategoryChange(filterCategoryId)"
            class="filter-select">
      <option value="">All Categories</option>
      <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
    </select>

    <select [(ngModel)]="filterSubcategoryId"
            (change)="onFiltersChanged()"
            class="filter-select">
      <option value="">All Subcategories</option>
      <option *ngFor="let s of filteredSubcategoriesForFilter()" [value]="s.id">{{ s.name }}</option>
    </select>

    <button (click)="clearFilters()" class="filter-toggle">✖ Clear</button>

    <div class="totals-bar mobile w-100" *ngIf="isMobile">
      <div>Total Products: <strong>{{ totalProducts }}</strong></div>
      <div>Total Stock: <strong>{{ totalStock }}</strong></div>
      <div>Total Min Stock: <strong>{{ totalMinStock }}</strong></div>
      <div>Low Stock Items: <strong style="color:red">{{ totalLowStock }}</strong></div>
    </div>
  </div>

  <div class="totals-bar" *ngIf="!isMobile">
    <div>Total Products: <strong>{{ totalProducts }}</strong></div>
    <div>Total Stock: <strong>{{ totalStock }}</strong></div>
    <div>Total Min Stock: <strong>{{ totalMinStock }}</strong></div>
    <div>Low Stock Items: <strong style="color:red">{{ totalLowStock }}</strong></div>
  </div>

  <!-- MOBILE VIEW -->
  <div class="products-grid" *ngIf="isMobile">
    <div *ngFor="let p of paginatedProducts" class="product-card">

      <ng-container *ngIf="editingProduct?.id === p.id; else viewCard">

        <input [(ngModel)]="editingProduct.name" class="edit-input" placeholder="Product Name" />

        <select [(ngModel)]="editingProduct.categoryId" class="edit-select">
          <option value="">Select Category</option>
          <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
        </select>

        <select [(ngModel)]="editingProduct.subcategoryId" class="edit-select">
          <option value="">Select Subcategory</option>
          <option *ngFor="let s of filteredSubcategories()" [value]="s.id">{{ s.name }}</option>
        </select>

        <input type="number" [(ngModel)]="editingProduct.price" class="edit-input" placeholder="Price" />
        <input type="number" [(ngModel)]="editingProduct.stock" class="edit-input" placeholder="Stock" />
        <input type="number" [(ngModel)]="editingProduct.minStock" class="edit-input" placeholder="Min Stock" />

        <div class="edit-actions">
          <button (click)="saveEdit()" [disabled]="loading">💾 Save</button>
          <button (click)="cancelEdit()">✖ Cancel</button>
        </div>

      </ng-container>

      <ng-template #viewCard>
        <div class="product-name">
          <span class="name-text">
            <div class="chip-row">
  <span
    *ngFor="let part of p.name | splitChips"
    class="chip"
    [class.chip-active]="part | chipMatch : filterName"
  >
    {{ part }}
  </span>
</div>
          </span>
          <div class="category-tag" *ngIf="p.categoryName">{{ p.categoryName }}</div>
          <span class="action-icons">
            <button (click)="startEdit(p)"><i class="pi pi-pencil"></i></button>
            <button (click)="delete(p.id)"><i class="pi pi-trash"></i></button>
          </span>
        </div>

        <div class="product-subcategory" *ngIf="p.subcategoryName">{{ p.subcategoryName }}</div>
        <!-- <div class="product-price">Price: {{ p.price }}</div> -->

        <div class="d-flex">
          <div class="product-stock">Stock: {{ p.stock }}</div>
          <div class="product-min-stock pl-6">Min Stock: {{ p.minStock || 5 }}</div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- DESKTOP TABLE VIEW -->
  <table class="desktop-table" *ngIf="!isMobile">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Min Stock</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of paginatedProducts">

        <ng-container *ngIf="editingProduct?.id !== p.id; else editRow">
          <td>
            <div class="chip-row">
  <span
    *ngFor="let part of p.name | splitChips"
    class="chip"
    [class.chip-active]="part | chipMatch : filterName"
  >
    {{ part }}
  </span>
</div>
</td>
          <td>{{ p.categoryName }}</td>
          <td>{{ p.subcategoryName }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.stock }}</td>
          <td>{{ p.minStock || 5 }}</td>
          <td>
            <button (click)="startEdit(p)"><i class="pi pi-pencil"></i></button>
            <button (click)="delete(p.id)"><i class="pi pi-trash"></i></button>
          </td>
        </ng-container>

        <ng-template #editRow>
          <td><input [(ngModel)]="editingProduct.name" /></td>

          <td>
            <select [(ngModel)]="editingProduct.categoryId">
              <option value="">Select</option>
              <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
            </select>
          </td>

          <td>
            <select [(ngModel)]="editingProduct.subcategoryId">
              <option value="">Select</option>
              <option *ngFor="let s of filteredSubcategories()" [value]="s.id">{{ s.name }}</option>
            </select>
          </td>

          <td><input type="number" [(ngModel)]="editingProduct.price" /></td>
          <td><input type="number" [(ngModel)]="editingProduct.stock" /></td>
          <td><input type="number" [(ngModel)]="editingProduct.minStock" /></td>

          <td class="d-flex">
            <button (click)="saveEdit()" [disabled]="loading">💾 Save</button>
            <button (click)="cancelEdit()">✖ Cancel</button>
          </td>
        </ng-template>

      </tr>
    </tbody>
  </table>

  <p-paginator
    [rows]="rowsPerPage"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5,10,20]"
    (onPageChange)="onPageChange($event)"
    styleClass="custom-paginator">
  </p-paginator>

</div>
