.menu-item {
  font-size: 1rem;
  color: var(--text-color-secondary);
}

.menu-item:hover {
  color: var(--text-color);
//   background-color: var(--surface-hover);
}

.app-container {
  min-height: 80vh;
//   background-color: var(--surface-ground);
}
