.menu-item {
  font-size: 1rem;
  color: var(--text-color-secondary);
}

.menu-item:hover {
  color: var(--text-color);
//   background-color: var(--surface-hover);
}

.app-container {
  min-height: 80vh;
//   background-color: var(--surface-ground);
}


.app-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: all; /* prevent clicks while loading */
}

.rainbow-bubble {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 300% 300%;
  animation: moveBubble 1.5s linear infinite, rainbow 2s linear infinite;
}

@keyframes moveBubble {
  0% { transform: translateX(-150px); }
  50% { transform: translateX(150px); }
  100% { transform: translateX(-150px); }
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


// .blur {
//   filter: blur(2px);
//   pointer-events: none;
// }
